---
	import BaseWrapper from '@layouts/BaseWrapper.astro'
	import Header from '@components/Header.astro';
	import Footer from '@components/Footer.astro';
	import Intro from '@components/Intro.astro';
---

<BaseWrapper>
	<Header />
	
	<main>
		<Intro />	
	<!-- if exist up -->
	</main>

	<Footer />
</BaseWrapper>

