---
	import BaseWrapper from '@layouts/BaseWrapper.astro'

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
---

<BaseWrapper>
	<main>
		<Header />
			<h1>Home Page</h1>
		<Footer />	<!-- if exist up -->
	</main>
</BaseWrapper>

